*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background:linear-gradient(#42EADDFF, #CDB599FF); */
    /* background-color: #63a4ff; */
    /* background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%); */
    background-color: #dde1e7;
}

body h1{
    padding-bottom: 15px;
    opacity: 70%;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Architects Daughter', cursive;
    /* margin-right: 100px; */
}

.calculator{
    width: 400px;
    background-color: #dde1e7;
    padding: 30px 30px 40px 30px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
    user-select: none;
}

input[type="text"]{
    height: 70px;
    width: 350px;
    margin-top: 0px;
    border-radius: 2px;
    border: 1px solid #e1e7ea;
    border-top: none;
    border-bottom: none;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    background-color: white;
}

#equation{
    height: 20px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 20px;
    color: #59595990;
}

#equation, #result{
    box-shadow:  -3px -3px 7px #ffffff73,  2px 2px 5px rgba(94, 104, 121, 0.288)
}

form{
    padding-bottom: 10px;
}

form .btn{
    width: 400px;
    margin: 10px 0px 0px 0px;
    padding: 5px 0 0 0;
}

input[type="button"]{
    width: 82px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #595959;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

input[type="button"]:hover{
    transition: all 0.5s ease;
    background: linear-gradient(#bfbfbf, #d9d9d9);
    cursor: pointer;
}

.operator{
    color: red;
}

#clear{
    background-color: red;
    border: 1px solid transparent;
    /* width: 305px; */
    /* margin: 10px 0 10px 0; */
    color:white;
}
